{% extends "layout.html"%}
{% block body%}
{% include "nav.html" %}
<div class="container p-3 mb-2 bg-info-subtle text-info-emphasis text-center">
    <div class="row align-items-center"></div>
        <div class="col">
            <h1 class="display-6">Hi, my name is</h1>
            <p class="display-1">Mohamed Sahnoon Fayaz.</p>
            <p class="display-5"> Python Developer.</p>

            <p class="display-6"> I build things for the web.</p>
        </div>
       
        
    </div>
</div>
{% endblock%}