<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="/static/logo.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        Home
      </a>

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" aria-current="page" href="/learning">Learning</a>
          <a class="nav-link" href="/weekly-diary">Achievements</a>
          <a class="nav-link" href="/goals">My Goals</a>
          <a class="nav-link" href="/job-postings">Job Postings</a>
          <!-- <a class="nav-link disabled" aria-disabled="true">Disabled</a> -->
        </div>
      </div>
    </div>
  </nav>
